htnl{
    font-size: 67.5%;
}
body{
    background-image: url(../img/%E8%83%8C%E6%99%AF.jpg);
    background-size:100%;
    background-repeat:no-repeat;
}
.navbar.navbar-default.navbar-fixed-top{
    background-color: transparent;
    border: 0px;
    text-align: center;
}
.row{
    height: 5.7rem;
}
#img1{
    height: 2.2rem;
    width: 2.2rem;
    float: left;
}
#img2{
    height: 2.2rem;
    width: 2.2rem;
    float: left;
    position: relative;
    right: 1.5rem;
}
#denglu{
    font-size: 1.8rem;
    color: #ffffff;
    margin: 0px;
}
#zhuce{
    font-size: 1.8rem;
    color: #ffffff;
    float: right;
    margin: 0px;
}
#logo{
    text-align:center;
    padding-top: 5.8rem;
    font-size: 1.8rem;
    color: #ffffff;
}
#img3{
    width: 8rem;
    height: 8rem;
}
#shurukuang{
    padding-top: 3rem;
}
#img4{
    width: 1.8rem;
    height: 1.8rem;
}
#shouji{
    height: 3rem;
}
.form-inline{
    padding-left: 10%;
    padding-right: 10%;
    margin: 1rem;
}
#img5{
    width: 1.8rem;
    height: 1.8rem;
}
#mima{
    height: 3rem;
}
.input-group-addon{
    background-color: rgba(0,0,0,0.4);
    border-bottom-left-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    border: 0;
    color: white;
}
.form-control{
    background-color: rgba(0,0,0,0.4);
    border-bottom-right-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    border: 0;
    border-left: 1px;
    color: white;
}
#dengluanniu{
    background-color: #ff4304;
    border-radius: 2.5rem;
    height: 2.8rem;
    margin-left: 13%;
    margin-right:  13%;
    text-align: center;
    padding-top: 0.3rem;
    filter:alpha(opacity=70); /*IE滤镜，透明度50%*/
    -moz-opacity:0.7; /*Firefox私有，透明度50%*/
    opacity:0.7;/*其他，透明度50%*/
}
#dengluanniu p{  
    color: #ffffff;
    font-size: 1.8rem;
}
#img6{
    height: 3rem;
    width: 22rem;
}
#text2{
    float: right;
    padding-right: 3.9rem;
}
.modal-body{
    text-align: center;
}