.navbar.navbar-default.navbar-fixed-top{
    background-color: orangered;
    padding: 0px;
    text-align: center;
    border: 0;
}
html{
    font-size: 67.5%;
}
#img1{
    position: absolute;
    top: 0.5rem;
    left: 0px;
    height: 4.4rem;
    width: 4.4rem;

}
#wenzi{
    font-size: 1.8rem;
    color: #ffffff;
}
#text1{
    position: absolute;
    left: 3.5rem;
    top: 1.5rem;
    font-size: 1.8rem;
    color: #ffffff;
}
body{
    padding-top: 5.7rem;
}
.img2{
    float: right;
    width: 2.4rem;
    height: 2.4rem;
}
.box{
    margin-top: 4%;
    margin-left: 5%;
    padding-bottom: 4%;
    border-bottom: 1px solid#f2f2f2;
}